<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.winter.app.qna.QnaDAO">
  	<select id="getList" resultType="QnaDTO">
  		SELECT * FROM QNA ORDER BY BOARDNUM DESC
  	</select>
  	<select id="getDetail" parameterType="QnaDTO" resultType="QnaDTO">
  		SELECT * FROM QNA WHERE BOARDNUM=#{boardNum}
  	</select>
  	<insert id="add" parameterType="QnaDTO">
  		INSERT INTO QNA 
  			(BOARDNUM, BOARDTITLE, BOARDDATE, BOARDCONTENTS, BOARDHIT, USERNAME, BOARDREF, BOARDSTEP, BOARDDEPTH)
  		VALUES
  			(BOARD_SEQ.NEXTVAL, #{boardTitle}, sysdate, #{boardContents}, 0, #{userName}, BOARD_SEQ.CURRVAL,0,0)	
  	</insert>
  	
  	<insert id="reply" parameterType="QnaDTO">
  	INSERT INTO QNA 
  			(BOARDNUM, BOARDTITLE, BOARDDATE, BOARDCONTENTS, BOARDHIT, USERNAME, BOARDREF, BOARDSTEP, BOARDDEPTH)
  		VALUES
  			(BOARD_SEQ.NEXTVAL, #{boardTitle}, sysdate, #{boardContents}, 0, #{userName}, #{boardRef},#{boardStep},#{boardDepth})	
  	</insert>
  	
  	<update id="updateStep" parameterType="QnaDTO">
  		UPDATE QNA SET BOARDSTEP=BOARDSTEP+1 
  		WHERE BOARDREF=#{boardRef} AND BOARDSTEP>#{boardStep}
  	</update>
  	
  	
  	
  	<update id="update" parameterType="QnaDTO">
  		UPDATE QNA SET
  			BOARDTITLE=#{boardTitle},
  			BOARDCONTENTS=#{boardContents}
  		WHERE BOARDNUM =#{boardNum}	
  	</update>
  	<delete id="delete" parameterType="QnaDTO">
  		DELETE QNA WHERE BOARDNUM =#{boardNum}
  	</delete>
  	
  	<update id="updateHit" parameterType="QnaDTO">
  		UPDATE QNA SET BOARDHIT=BOARDHIT+1
  		WHERE BOARDNUM=#{boardNum}
  	</update>
  	
  	
  
	
  </mapper>